# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
steam_analysis_env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/external/*
data/interim/*

*.sqlite
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
